---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="About | Raphaël FLT" description="About Raphael FLT">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="A propos de moi "
				tagline="Merci d'être venu jusque là, vous y trouverez plus d'informations a mon propos pouvant vous interesser"
			>
				<img
					width="700"
					height="400"
					src="/assets/at-work.jpg"
					alt="raphaelFLT"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Background</h2>
				<div class="content">
					<p>
						Passionné d'informatique depuis que j'ai une souris entre les mains, j'ai acquis de fortes compétences 
						que ce soit à travers les différents projets qu'ils soient en formations ou en autodidacte. 
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Formations</h2>
				<div class="content">
					<p> BTS SIO, solutions d'infrastructure, systèmes et réseaux.</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Skills</h2>
				<div class="content">
					<ul>
						<li><p> Mise en place d'un réseau sécurisé : routage, parefeu, RADIUS</p></li>
						<li><p> Installation et configuration des infrastructures réseau : DNS, Supervision, DHCP</p></li>
						<li><p> Configuration Windows Server 2022 et Active Directory</p></li>
						<li><p> Virtualisation de serveurs via des hyperviseurs de type 1 et 2.</p></li>

					</ul>

				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
