---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="terminal-window" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Administration des infrastructures réseau et systèmes</h2>
		<p>Installation, configuration, gestion de serveurs </p>
		<p>Déploiement et supervision des équipements réseau </p>
		<p>Gestion des droits d’accès, des comptes utilisateurs et des groupes</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="security" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2> Sécurité des infrastructures informatiques</h2>
		<p>Mise en place de solutions de sécurisation des données </p>
		<p>Surveillance et prévention des failles de sécurité et des cyberattaques.</p>
		<p>Application des bonnes pratiques pour assurer la conformité</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="support" color="var(--accent-regular)" size="2.5rem" gradient />
		<h2>Support technique et maintenance</h2>
		<p>Diagnostic et résolution des incidents matériels et logiciels.</p>
		<p>Suivi des performances des systèmes et mise en place d’améliorations.</p>
		<p>Assistance aux utilisateurs et rédaction de documentations techniques.</p>
	</div>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
